<div class="container">
  <h1 class="text-center py-5">Change Password</h1>

  <div class="row py-3">
    <div class="col-md-6 offset-md-3">
      <form action="/api/jwt/changePassword/{{tid}}" method="post" class="border border-dark p-3 rounded-3 shadow" id="passwordReset">
        <div class="mb-3">
          <label for="password" class="form-label fw-bold">New Password:</label>
          <input type="password" class="form-control" name="password" id="password" required />
        </div>
        <div class="mb-3 text-center">
          <button type="submit" class="btn btn-outline-success px-5 fw-bold">Send</button>
        </div>
      </form>
      <hr />
      <div class="text-center d-flex justify-content-evenly">
          <a class="btn btn-outline-primary fw-bold" href="/api/jwt/login">Login</a>
          <a class="btn btn-outline-primary fw-bold" href="/api/jwt/register">Register</a>
      </div>
      <hr />
    </div>
  </div>
</div>